
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
    <h2 class="mt-3">
        Custom Error Message:
        Oopps!!!! Something went wrong.Please try again later....
    </h2>

